<wm-page name="mainpage" data-ng-controller="MainPageController">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel name="leftpanel" content="leftnav" columnwidth="2"></wm-left-panel>
        <wm-page-content name="mainContent" columnwidth="8" paddingright="15" paddingleft="15">
            <wm-prefab name="fbpost1" height="466" prefabname="fbpost" appid="235401466622053"></wm-prefab>
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1"></wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
        <wm-right-panel name="rightpanel" content="rightnav" columnwidth="2"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>